@font-face {
  font-family: "iconfont"; /* Project id 4794958 */
  src: url('iconfont.woff2?t=1735193895067') format('woff2'),
       url('iconfont.woff?t=1735193895067') format('woff'),
       url('iconfont.ttf?t=1735193895067') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e60c";
}

.icon-gerenxinxi_o:before {
  content: "\ebcc";
}

.icon-gongyuguanli:before {
  content: "\e662";
}

.icon-qingongzhuxuexitongshezhi:before {
  content: "\e68d";
}

.icon-weijichufentongji:before {
  content: "\e69e";
}

.icon-xitongguanli:before {
  content: "\e64e";
}

.icon-kaoheguanli:before {
  content: "\e64d";
}

.icon-xueshengzizhu-:before {
  content: "\e67c";
}

.icon-122pingjiangpingyou:before {
  content: "\e623";
}

.icon-richangshiwu:before {
  content: "\e606";
}

.icon-sizhengduiwuguanli:before {
  content: "\e6df";
}

